.card {
  position: relative;
}

.removeParentButton {
  position: absolute;
  top: 16px;
  right: 64px;
  display: none;
}

.removeParentButton svg {
  color: #737373;
}

.card:hover .removeParentButton {
  display: block;
}
