.buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.buttonsGroup svg {
  width: 20px;
  height: 20px;
}

.grid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.filterButtons {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  flex-grow: 1;
}

.selectTrigger {
  background-color: #fff;
}

@media screen and (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .grid {
    gap: 24px;
  }

  .filterButtons {
    max-width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
