.container {
  padding: 32px 16px;

  /* width: 100%; */

  max-width: 100vw;
  max-height: calc(100vh - 64px);
  overflow-y: auto;
}

@media screen and (min-width: 600px) {
  .container {
    padding: 32px;

    max-width: calc(100vw - 92px);
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: calc(100vw - 280px);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 48px 72px;
  }
}
