.contentContainer {
  margin-top: 16px;
  width: 100%;
  display: grid;
  row-gap: 16px;
  column-gap: 24px;
  /* grid-template-columns: 7fr 3fr; */
}

.entry {
  min-width: 40%;
}

.entry .key {
  color: #4a4a4a;
  font-size: 13px;
  margin-bottom: 4px;
}

.entry .value {
  color: #000;
  font-size: 14px;
  word-wrap: break-word;
}

/* AVATAR NAME */
.avatarNameContainer {
  display: flex;
  align-items: center;
  flex-direction: row;

  width: fit-content;
  cursor: pointer;
}

.avatar {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.name {
  margin-left: 8px;
  font-size: 14px;
}

.avatarNameContainer:hover .name {
  text-decoration: underline;
}

.assistantsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.assistantsContainer .avatar {
  width: 24px;
  height: 24px;
}
.assistantsContainer .name {
  margin-left: 4px;
}
