.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 16px;
  font-size: 16;
}

.usersContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

@media (min-width: 600px) {
  .usersContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (min-width: 900px) {
  .headerContainer {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .usersContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
