.contentContainer {
  margin-top: 16px;
  width: 100%;
  display: grid;
  row-gap: 8px;
  column-gap: 24px;
  grid-template-columns: 7fr 3fr;
}

.entry {
  min-width: 40%;
}

.entry .key {
  color: #4a4a4a;
  font-size: 13px;
}

.entry .value {
  color: #000;
  font-size: 14px;
  word-wrap: break-word;
}

/* Readonly color input */

.colorInput {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  width: 80px;
  height: 40px;
  border: 0;
  padding: 0;
}

.colorInput::-webkit-color-swatch-wrapper {
  padding: 0;
}

.colorInput::-webkit-color-swatch {
  border: 0;
  border-radius: 12px;
}

/* Editmode color input */

.editColorInputWrapper {
  padding: 0;
}

.editColorInput input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  /* width: 80px; */
  /* height: 40px; */
  border: 0;
  padding: 0;
}

.editColorInput:hover input {
  filter: brightness(0.9);
}

.editColorInput input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.editColorInput input::-webkit-color-swatch {
  border: 0;
  border-radius: 12px;
}

.cardEntries {
  grid-template-columns: 1fr;
}
