.cardContainer {
  flex-grow: 1;
  /* flex-shrink: 1; */
}
.cardContentContainer {
  overflow-y: hidden;
  flex-grow: 1;
}

.table {
  height: 100%;
}

.tableWrapper {
  overflow-y: auto;
}

.tableWrapper {
  flex-grow: 1;
}

.avatarBase {
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
}

.name {
  margin-left: 4px;
  font-size: 14px;
}

.avatarNameContainer {
  display: flex;
  align-items: center;
  flex-direction: row;

  width: fit-content;
  cursor: pointer;
}

.avatarNameContainer:hover .name {
  text-decoration: underline;
}

.recipientsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  max-height: 160px;
  overflow-y: auto;
}

@media screen and (min-width: 600px) {
  .tableWrapper::-webkit-scrollbar {
    width: 6px; /* Mostly for vertical scrollbars */
    height: 6px; /* Mostly for horizontal scrollbars */
  }
  .tableWrapper::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #4ba7e8;
    border-radius: 8px;
  }
  .tableWrapper::-webkit-scrollbar-track {
    /* Background */
    background: #f0f0f0;
    margin: 16px;
    border-radius: 14px;
  }
}
