.container {
  padding: 24px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.container:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  /* background-color: #f7f7f7; */
}

.avatarWrapper {
  position: relative;
  width: 35%;
  margin: 0 auto;
  padding-top: 35%;
}

.avatar {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.name {
  margin-top: 8px;
  text-align: center;
  font-weight: 600;
}

.groupsList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 8px;
  list-style: none;
}

.chipBase:hover {
  background-color: #f7f7f7;
}

.chipDot {
  width: 12px;
  height: 12px;
  background-color: var(--dot-color);
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  font-size: 14px;
  flex-grow: 1;
  justify-content: end;
}

.contactInfoContainer svg {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  color: #737373;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 32px;
  }
}
