.contentContainer {
  margin-top: 16px;
  width: 100%;
  display: grid;
  row-gap: 8px;
  column-gap: 24px;
  grid-template-columns: 7fr 3fr;
}

.entry {
  min-width: 40%;
}

.entry .key {
  color: #4a4a4a;
  font-size: 13px;
}

.entry .value {
  color: #000;
  font-size: 14px;
  word-wrap: break-word;
}

.colorInputWrapper {
  padding: 0;
}

.colorInput input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  /* width: 80px; */
  /* height: 40px; */
  border: 0;
  padding: 0;
}

.editable.colorInput:hover input {
  filter: brightness(0.9);
}

.colorInput input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.colorInput input::-webkit-color-swatch {
  border: 0;
  border-radius: 12px;
}

/* ::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
} */
