/* AVATAR NAME */
.avatarNameContainer {
  display: flex;
  align-items: center;
  flex-direction: row;

  width: fit-content;
  cursor: pointer;
}

.avatar {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.name {
  margin-left: 8px;
  font-size: 14px;
}

.avatarNameContainer:hover .name {
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .avatar {
    width: 32px;
    height: 32px;
  }
}
