.groupsList {
  margin-top: 16px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
}

.groupTileContainer {
  padding: 8px 16px;
  display: block;
  border-radius: 8px;
  border-left: 10px solid transparent;
  background: linear-gradient(87.27deg, #efefef 47.85%, rgba(239, 239, 239, 0) 100%);
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.groupName {
  font-weight: 600;
  font-size: 14px;
}

.coachName {
  font-size: 13px;
}

.days,
.hours {
  text-align: right;
  font-size: 13px;
}

.newGroupButton {
  width: 100%;
  margin-top: 16px;
}

@media screen and (min-width: 600px) {
  .groupTileContainer {
    border-left-width: 12px;
  }

  .newGroupButton {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .groupTileContainer {
    border-left-width: 14px;
  }
}
