.groupsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.chipBase {
  cursor: pointer;
}

.chipBase:hover {
  background-color: #ededed;
}

.chipDot {
  width: 12px;
  height: 12px;
  background-color: var(--dot-color);
}

.medalContainer {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  flex-direction: row;
  cursor: pointer;
}

.medalContainer:hover .medalChevronContainer {
  /* display: block; */
  visibility: visible;
}

@media screen and (min-width: 600px) {
  .tableWrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .tableWrapper::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #4ba7e8;
    border-radius: 8px;
  }
  .tableWrapper::-webkit-scrollbar-track {
    /* Background */
    background: #f0f0f0;
    margin: 16px;
    border-radius: 14px;
  }
}
