.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* min-height: 100%; */
  /* flex-grow: 1; */
  height: 100%;
}

@media screen and (min-width: 600px) {
  .buttonsContainer {
    display: flex;
    justify-content: flex-end;
  }

  .addAthleteButton {
    width: auto;
  }
}
