.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.addCompetitionButton {
  width: 100%;
}

.tabList {
  background: #fff;
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  /* padding-left: 16px; */
}

.tab {
  height: 40px;
}

.tabCursor {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 4px;
}

.competitionsList {
  margin: 24px 0;

  display: flex;
  flex-direction: column;
}

.competitionCardContainer {
  width: 100%;
  display: flex;

  background-color: #fff;

  border: 1px solid #e8e8e8;

  cursor: pointer;
}

.competitionCardContainer:hover {
  background-color: #fafafa;
}

.competitionCardContainer:not(:last-child) {
  margin-bottom: 8px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  /* padding: 16px; */
  flex-grow: 1;

  padding: 8px 12px;

  border-left: 6px solid orange;
}

.entrantsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.competitionName {
  /* font-size: 13px; */
  width: 100%;
  min-height: 38px;
  font-weight: 600;
  line-height: normal;
}
.competitionDate {
  margin-top: 6px;
}

.entrantsContainer {
  padding: 8px 16px;
}

.entrantsIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.entrantsIcon svg {
  color: #4a4a4a;
  width: 24px;
  height: 24px;
}

.entrantsText {
  font-size: 14;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .addCompetitionButton {
    width: unset;
  }

  .tabList {
    padding: 8px 24px;
  }

  .detailsContainer {
    padding: 16px;
    border-left-width: 12px;
  }

  .competitionName {
    font-size: 18px;
  }

  .entrantsContainer {
    padding: 0 24px;
  }
  .entrantsText {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .tabList {
    padding: 8px 32px;
  }

  .detailsContainer {
    padding: 16px 36px;
    border-left-width: 12px;
  }

  .entrantsContainer {
    padding: 0 48px;
  }
}
