.card {
}

.container {
  width: 100%;
}

.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 16px 0; */
}
.divider {
  margin: 16px 0;
}

.list {
  padding: 16px 0;

  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
  min-height: 120px;
}

.chipContainer {
  width: fit-content;
  display: flex;
  /* gap: 4px; */
  padding: 4px 6px;
  font-size: 14px;
  background-color: #f4f4f4;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
  gap: 6px;
  height: fit-content;
  user-select: none;
}

.chipContainer:hover {
  background-color: #e8e8e8;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  /* margin-right: 6px; */
}

.userChipIcon {
  display: block;
  /* width: 28px; */
  /* height: 28px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}
.userChipIcon svg {
  width: 16px;
  height: 16px;
  color: #727272;
}

.userChipIcon svg {
  display: none;
}

.chipContainer:hover .userChipIcon svg {
  display: block;
}

@media screen and (min-width: 600px) {
  .list {
    gap: 12px 16px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }

  .list {
    padding: 16px 24px;
  }
}
