.groupsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.chipBase {
  cursor: pointer;
}

.chipBase:hover {
  background-color: #ededed;
}

.chipDot {
  width: 12px;
  height: 12px;
  background-color: var(--dot-color);
}

.avatarBase {
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
}

.name {
  margin-left: 4px;
  font-size: 14px;
}

.avatarNameContainer {
  display: flex;
  align-items: center;
  flex-direction: row;

  width: fit-content;
  cursor: pointer;
}

.avatarNameContainer:hover .name {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  .tableWrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .tableWrapper::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #4ba7e8;
    border-radius: 8px;
  }
  .tableWrapper::-webkit-scrollbar-track {
    /* Background */
    background: #f0f0f0;
    margin: 16px;
    border-radius: 14px;
  }
}
