.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.weightAndHeightContainer {
  display: flex;
  column-gap: 8px;
}

.weightAndHeightContainer > div {
  /* width: 100%; */
}

.checkboxContainer {
  display: flex;
  column-gap: 8px;
  justify-content: space-between;
}

.checkboxBase {
  /* display: flex; */
  padding: 0 12px;
  height: 56px;
  margin: 0;
  background-color: hsl(
    var(--nextui-default-100) / var(--nextui-default-100-opacity, var(--tw-bg-opacity))
  );
  border-radius: 12px;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.categoriesList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  max-height: 200px;
  overflow-y: auto;
}

.categoryItem {
  position: relative;
}

.categoryItem:hover {
  padding-right: 40px;
  transition: padding-right 0.2s;
}

.categoryInputsContainer {
  display: flex;
  column-gap: 4px;
}

.removeItemButton {
  opacity: 0;
  position: absolute;
  top: 50%;
  /* left: 100%; */
  right: 0;
  transform: translateY(-50%);
}

.categoryItem:hover .removeItemButton {
  opacity: 1;
  transition: opacity 0.2s;
  display: block;
}
