/* AVATAR NAME */
.avatarNameContainer {
  display: flex;
  align-items: center;
  flex-direction: row;

  width: fit-content;
  cursor: pointer;
}

/* .avatar {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
} */

.avatarBase {
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
}

.name {
  margin-left: 8px;
  font-size: 14px;
}

.avatarNameContainer:hover .name {
  text-decoration: underline;
}

.statusChipContainer {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  flex-direction: row;
  cursor: pointer;
}

.statusChipContainer:hover .statusChevronContainer {
  /* display: block; */
  visibility: visible;
}

@media screen and (min-width: 1200px) {
  .avatarBase {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
  }

  .statusChevronContainer {
    visibility: hidden;
  }
}
